<h1 class="text-center">{{Title}}</h1>

<canvas id="gameScreen" class="border" width="500" height="500"></canvas>

<button type="button" id="start" class="btn btn-outline-success mt-3">Play !</button>